body, html {
    height: 100%;
    background-image: url("/img/poker.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    margin: 0 0 0 150px;
}

.bg {
    /* The image used */
    background-image: url("static/img/poker.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

