<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>

    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/margins.css}"/>
    <link href="../css/table-custom.css" rel="stylesheet">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
            });
        });
    </script>

</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Poker Club
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="/tournament">Tournament</a>
            </li>
            <li>
                <a href="/ranking">Ranking</a>
            </li>
            <li>
                <a href="/edit-player">Player</a>
            </li>
            <li>
                <a href="/tournament-board">Tournament board</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
        <div class="container">
            <div class="col-md-10 col-md-offset-2" style="margin:0 auto;">
                <div class="page-header">
                    <h1 class="header-center">Ranking</h1>
                </div>

                <table class="table table-hover table-custom">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Nick</th>
                        <th scope="col">Total Points</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Total Prize</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="s , iter : ${scores}">
                        <tr class='clickable-row'>
                            <td>
                                <img th:src="${s.avatarUrl}"
                                     alt="" class="img-responsive img-rounded"
                                     style="max-height: 80px; max-width: 80px;">
                            </td>
                            <td th:text="${iter.index +1}">...</td>
                            <td th:text="${s.nickName}">...</td>
                            <td th:text="${s.totalPoints}">...</td>
                            <td th:text="${s.wins}">...</td>
                            <td th:text="${s.totalPrize}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

</body>
</html>