<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament Info</title>

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" id="bootstrap-css"/>

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                var time = $(this).data('time');
                window.location = $(this).data("href");
            });
        });
    </script>

</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Poker Club
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="/tournament">Tournament</a>
            </li>
            <li>
                <a href="/ranking">Ranking</a>
            </li>
            <li>
                <a href="/edit-player">Player</a>
            </li>
            <li>
                <a href="/tournament-board">Tournament board</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header">
                    <h1>Tournament List</h1>
                </div>

                <table class="table table-hover ">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="t , iter : ${tournaments}">
                        <tr class='clickable-row' data-href='url://' th:attr="data-href='tournament/'+${t.id}">
                            <td th:text="${iter.index}">...</td>
                            <td th:text="${#dates.format(t.date,'dd-MM-yyyy')}">...</td>
                            <td th:text="${t.name}">...</td>
                            <td th:text="${t.description}">...</td>
                            <td th:if="${t.finished}" >
                                <a class="btn disabled btn-info" th:href="@{'#'}"> Finished</a>
                            </td>
                            <td th:if="${!t.finished}" th:switch="${t.registered}">
                                <a class="btn btn-success" th:case="false"
                                   th:href="@{'/tournament/register/' + ${t.id}}"> Sing In</a>
                                <a class="btn btn-danger" th:case="true"
                                   th:href="@{'/tournament/unregister/' + ${t.id}}"> Sing Out</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>

            <div class="col-md-8 col-md-offset-2">
                <h3>Create new Tournament</h3>
                <form class="form-horizontal" action="#" th:action="@{/create-tournament}" th:object="${newTournament}"
                      method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-4">Tournament Name</label>
                        <div class="col-xs-8">
                            <input th:field="*{name}" name="name" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Tournament Description</label>
                        <div class="col-xs-8">
                            <input th:field="*{description}" name="description" type="text" class="form-control">
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description
                                Error</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">Tournament Date</label>
                        <div class="col-xs-8">
                            <input th:field="*{date}" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-4 col-xs-8">
                            <button name="submit" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>