<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}" id="bootstrap-css"/>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                var time = $(this).data('time');
                window.location = $(this).data("href");
            });
        });
    </script>

</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Poker Club
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="/tournament">Tournament</a>
            </li>
            <li>
                <a href="/ranking">Ranking</a>
            </li>
            <li>
                <a href="/edit-player">Player</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">

                <div class=" col-md-offset-2">
                    <div class="page-header">
                        <h1 th:text="'Tournament: ' + ${tournament.name} "></h1>
                        <h3 th:text="'Date: ' + ${tournament.date}" </h3>
                    </div>


                    <div th:if="${tournament.finished}">
                        <table class="table table-hover">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">#</th>
                                <th scope="col">Nick</th>
                                <th scope="col">Place</th>
                                <th scope="col">Points</th>
                                <th scope="col">Prize</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="p , iter : ${players}">
                                <tr class='clickable-row'>
                                    <td>
                                        <img th:src="${p.avatarUrl}"
                                             alt="" class="img-responsive img-rounded"
                                             style="max-height: 30px; max-width: 30px;">
                                    </td>
                                    <td th:text="${iter.index}">...</td>
                                    <td th:text="${p.nickName}">...</td>
                                    <td th:text="${p.place}">...</td>
                                    <td th:text="${p.points}">...</td>
                                    <td th:text="${p.prize}">...</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>

                        <div th:if="${userAdmin}">
                            <a class="btn btn-secondary" th:href="@{'/scores/' + ${tournament.id}} ">Set Scores</a>
                        </div>
                    </div>
                    <div th:unless="${tournament.finished}">


                        <table class="table table-hover">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nick</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="p , iter : ${players}">
                                <tr class='clickable-row'>
                                    <td th:text="${iter.index}">...</td>
                                    <td th:text="${p.nickName}">...</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>